/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: #1d1d1f;
}

/* Header */
header {
    background: url("https://media0.giphy.com/media/v1.Y2lkPTZjMDliOTUyc2U2bzZxNnJ0bzNoNWhrczcxNnUwb21mNTU1ajdsbGFocXpoZ3VuNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/11zyJuJXMxxJFm/giphy.gif") center center / cover no-repeat;
    color: white;
    padding: 120px 20px;
    text-align: center;
    position: relative;
}

/* Dark overlay */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

header * {
    position: relative;
    z-index: 2;
}

header h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

header p {
    font-size: 18px;
    opacity: 0.9;
}

/* Navigation */
nav {
    background: #111;
    padding: 15px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #00c6ff;
}

/* Button */
.btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 30px;
    background: #0071e3;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #005bb5;
    }



.section {
    padding: 100px 20px;
    background: #f5f5f7;   /* Apple soft grey */
    text-align: center;
}
.section h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #1d1d1f;
}
/* Cards */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 40px;
}


.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card {
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 10px 40px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
}


.card:hover {
    transform: scale(1.03);
}

.card h3 {
    margin-bottom: 15px;
}

/* Footer */
footer {
    background: #111;
    color: white;
    padding: 25px;
    text-align: center;
    margin-top: 50px;
}
